<aside>
  <h2>
    Dashboard</h2>
  <%= render "dashboard/tags" %>
  <%= render "dashboard/question_stats" %>
  <%= render "dashboard/contributors" %>

  <%= render "dashboard/related_questions" %>
  <%= render "dashboard/share" %>

</aside>