<% title @question.title.truncate(40) %>

<% cache ['v2', @question] do %>
    <div id="post-page">
      <div class="content">
        <h1>
          <%=  @question.title %>
        </h1>
        <%= render :partial => 'question_block' %>
        <section id="answers">
          <h2 id="answer-head">
            <%= pluralize @question.answers_count, 'Answer' %>
          </h2>

          <div class="answersGroup">
            <%= render @question.answers %>
          </div>
          <%= render :partial => 'new_answer' %>
        </section>
      </div>
      <%= render :partial => 'question_show_aside' %>

      <% comments = @question.answers.map(&:comments).flatten.sort_by { |c| c.created_at }
         latest_comment_time = comments.size > 0 ? comments.last.created_at.to_i : 0
         answers = @question.answers.sort_by { |a| a.created_at }
         latest_answer_time = answers.size > 0 ? answers.last.created_at.to_i : 0

      %>
      <%= javascript_tag do %>
          window.latestCommentTime =  <%= latest_comment_time %>
          window.latestAnswerTime =  <%= latest_answer_time %>
      <% end %>
    </div>
<% end %>
