<% activity = create_answer %>

<div class="stream-item" data-ts=<%= activity.created_at.to_i %>>
  <h3 class="caption">
    <i class="icon-info-sign"></i>

    <%= feed_image(activity) %>
    <%= actor_link(activity) %>
    <%= link_to "posted an answer to a question", question_path(:id => activity.data['question_id'],
                                                                :hash => "answer-#{activity.data['answer_id']}") %>
    <span>by <%= recipient_link(activity) %></span>
    . <span class="activity-date"><%= activity.created_at.my_format %></span></h3>
  <h4 class="post-title">
    <%= link_to activity.data['question_title'], question_path(:id => activity.data['question_id'],
                                                               :hash => "answer-#{activity.data['answer_id']}") %>
  </h4>

  <div class="stream-content">
    <div class="stream-main-content">
      <div class="text">
        <%= strip_tags activity.data['answer_excerpt'] %>
      </div>
    </div>
  </div>
</div>